<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/layout :: page">

<div th:fragment="content">
    <h3>Hello World.</h3>
    This is a hello world example.
    <p th:text="'Hello, ' + ${name} + '!'" />

    <div th:replace="fragments/alert :: alert (type='danger', message='Error message example')"/>
    <div th:replace="fragments/alert :: alert (type='info', message='Info message example')"/>
    <div th:replace="fragments/alert :: alert (type='warning', message='Warning message example')"/>
    <div th:replace="fragments/alert :: alert (type='success', message='Success message example')"/>
    <!--<div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})"/>-->
</div>

</html>
